<% provide :title, t("page.admin.title") %>
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12">
        <h2><%= t "page.admin.title" %></h2>
        <p><%= t "page.admin.sub_title" %></p>
      </div>
    </div>
  </div>
</div>
