tr th {
  text-align: center;
}
.bg-secondary {
  background-color: #EDF1FF !important;
}
.text-dark {
  color: #1C1C1C !important;
}
.align-middle {
  vertical-align: middle !important;
  img {
    width: 50px;
  }
}
.mx-auto {
  margin: auto;
}
.font-weight-semi-bold, .font-weight-bold {
    font-weight: 700;
    font-size: 24px;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.font-weight-medium {
  font-weight: 600;
  font-size: 16px;
}
.card-footer {
  display: block !important;
  padding: 0.75rem 1.25rem;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  a {
    color: #fff !important;
    &:hover {
      color: #fff !important;
    }
  }
}
.d-flex {
  display: flex !important;
}
.input-group.input-group-btn {
  font-size: 12px;
}
.quantity form {
  display: flex;
}
