.input-group {
  display: flex !important;
  align-items: stretch;
  width: 100%;
}
.input-group-text {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  color: #495057;
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #EDF1FF;
  padding: 6px 12px;
  & i {
    line-height: 1.5;
  }
}
.container-fluid {
  .text_logo {
    color: #000;
    font-weight: 700;
    .text-primary{
      padding: 0 1rem;
      margin-right: 4px;
    }
  }
  .nav-category {
    height: 65px;
    margin-top: -1px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
  }
  .navbar-nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    overflow: hidden !important;
    .nav-link {
      display: block;
      padding: 8px 30px;
      border-bottom: 1px solid #EDF1FF;
      color: #1C1C1C;
      outline: none;
      i {
        float: right;
      }
      &:hover {
        color: #337ab7;
      }
    }
    .dropdown-menu {
      background-color: #337ab7;
    }
    .dropdown-item {
      display: block;
      width: 100%;
      padding: 0.25rem 1.5rem;
      clear: both;
      font-weight: 400;
      color: #fff;
      text-align: inherit;
      white-space: nowrap;
      background-color: transparent;
      border: 0;
      &:hover {
        color: #337ab7;
        background-color: #fff;
      }
    }
  }
}
.wrap-menu {
  display: flex;
  height: 65px;
  align-items: center;
  .nav-link {
    border-bottom: none !important;
  }
  .dropdown-menu {
    left: -50px;
  }
  .dropdown-item {
    display: block;
    padding: 0.25rem 1.5rem;
  }
}
.navbar-main {
  display: flex;
}
.section-title {
  letter-spacing: 1px;
  font-weight: bold;
  color: #1C1C1C;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  .card-header {
    overflow: hidden;
    img {
      width: 100% !important;
    }
  }
  .card-body {
    padding-top: 24px;
    padding-bottom: 16px;
    color: #1C1C1C;
    .card-content {
      display: flex;
      justify-content: center;
      .text-muted {
        margin-left: 5px;
      }
    }
  }
  .card-footer {
    display: flex;
    justify-content: space-between;
    padding: 8px 8px;
    a {
      color: #1C1C1C;
      &:hover {
        color: #337ab7;
      }
    }
  }
}
.product-item .product-img img {
  transition: .5s;
}
.product-item:hover .product-img img {
  transform: scale(1.2);
}
.table {
  text-align: center;
}
.badge {
  font-size: 14px !important;
}
.badge-pending {
  background-color: #cfe0fc !important;
  color: #0a47a9 !important;
}
.badge-confirmed {
  background-color: #c7f5d9 !important;
  color: #0b4121 !important;
}
.badge-delivering {
  background-color: #ffebc2 !important;
  color: #453008 !important;
}
.badge-received {
  background-color: #f0d8ff !important;
  color: #453008 !important;
}
