<!-- Footer Start -->
<div class="container-fluid footer">
  <div class="border-top">
    <div>
        <p class="text-center">
          <%= t "global.footer_text" %>
        </p>
    </div>
  </div>
</div>
<!-- Footer End -->
